.ac-admin-show {
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
}
.ac-admin-show h1{
	margin-bottom: 20px;
}
.upload .preview-upload{
	max-width: 300px; 
	display: block; 
	margin: 20px 0;
}
.ac-textarea{
	width: 300px;
	height: 100px;
}